# See http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
spring:
  main:
    banner-mode: OFF
  data:
    redis:
      host: localhost
      port: 6379
  mongodb:
      host: localhost
      port: 27017
  webflux:
    problemdetails:
      enabled: true