/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/target/
*.checkstyle
*.args
/frontend/blog-angular-ui/node/
/frontend/blog-angular-ui/.angular/
poc-rest-api/spring-boot-rest-webmvc/src/main/java/com/example/poc/webmvc/testcontainersflyway/
