# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse 
*.settings/
*.project
*target/
*.classpath
.checkstyle
.fbExcludeFilterFile
*.sts4-cache
*.springBeans
spring-boot-rest/poc-spring-boot-rest-jooq/src/main/java/com/poc/restfulpoc/jooq/*
*.bak
