version: "3"
services:
  #  Create a service named db.
  postgres:
    #   Use the Docker Image postgres. This will pull the newest release.
    image: postgres:latest
    #   Give the container the name postgres. You can changes to something else.
    container_name: postgres
    #   Setup the username, password, and database name. You can changes these values.
    environment:
      - POSTGRES_USER=local
      - POSTGRES_PASSWORD=local
      - POSTGRES_DB=rest
    #   Maps port 5432 (localhost) to port 5432 on the container. You can change the ports to fix your needs.
    ports:
      - 5432:5432
    #   Set a volume some that database is not lost after shutting down the container.
    #   I used the name postgres-data but you can changed it to something else.
    networks:
      - postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db/mongo
    ports:
      - "27017:27017"

  redis:
    image: redis
    volumes:
      - redis-data:/data/db/redis
    ports:
      - "6379:6379"

networks:
  postgres:
    driver: bridge

volumes:
  postgres-data:
  mongo-data:
  redis-data: