<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://github.com/rajadilipkolli/POC/" class="navbar-brand">
                SourceCode</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/raja" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/posts" class="nav-link">Posts</a></li>
        </ul>

        <!-- As menu is refreshed only once data is not availabe, hence calling method directly-->
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>