<h1> My Posts</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>content</th>
                <th>createdOn</th>
                <th>createdBy</th>
                <th>comments</th>
                <th>tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.title | uppercase}}</td>
                <td>{{post.content}}</td>
                <td>{{post.createdOn | date}}</td>
                <td>{{post.createdBy}}</td>
                <td>
                    <li *ngFor="let comment of post.comments">{{comment.review}}</li>
                </td>
                <td>
                    <li *ngFor="let tag of post.tags">{{tag.name}}</li>
                </td>
                <td><button (click)="updatePost(post.title)" class="btn btn-success">Update</button></td>
                <td><button (click)="deletePost(post.title)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button (click)="createPost()" class="btn btn-success">Create</button>
    </div>
</div>