<h1> My Posts</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>content</th>
                <th>createdOn</th>
                <th>createdBy</th>
                <th>comments</th>
                <th>tags</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.title | uppercase}}</td>
                <td>{{post.content}}</td>
                <td>{{post.createdOn | date}}</td>
                <td>{{post.createdBy}}</td>
                <td>{{post.comments}}</td>
                <td>{{post.tags.join(', ')}}</td>
            </tr>
        </tbody>
    </table>
</div>