<h1>Post</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf="postForm.dirty && postForm.invalid">Enter valid </div>
    <!-- <div class="alert alert-warning" *ngIf="postForm.dirty && createdOn.invalid">Enter valid Target Date</div> -->

    <form (ngSubmit)="!postForm.invalid && updatePost()" #postForm="ngForm">

        <fieldset class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" [ngModel]="post.title" class="form-control" readonly />
        </fieldset>

        <fieldset class="form-group">
            <label for="formControlContentTextarea">Content</label>
            <textarea class="form-control" id="formControlContentTextarea" rows="3" name="content"
                [(ngModel)]="post.content"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="formCreatedOn">createdOn</label>
            <input class="form-control" type="datetime" [(ngModel)]="post.createdOn" id="formCreatedOn" name="createdOn">
        </fieldset>

        <!-- <fieldset class="form-group">
            <label for="tags">Tags</label>
            <select multiple class="form-control" id="tags" *ngFor="let tag of post.tags">
                <option>{{tag.name}}</option>
            </select>
        </fieldset> -->

        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>