<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
    details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="CATALINA_HOME" value="/opt/tomcat8" />

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CATALINA_HOME}/logs/DigitalBridge.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${CATALINA_HOME}/logs/DigitalBridge.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %-5level %logger{45}:%line - %msg%n </pattern>
        </encoder>

    </appender>

    <logger name="org.springframework" level="WARN" />

    <logger name="org.springframework.data" level="INFO" />

    <logger name="org.springframework.security" level="DEBUG" />

    <logger name="org.mongodb.driver" level="WARN" />

    <logger name="com.example" level="DEBUG" />

    <logger name="org.thymeleaf.TemplateEngine" level="DEBUG" />

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="console" />  <!-- Uncomment when using local machine -->
            <!-- <appender-ref ref="FILE" /> -->
        </root>
    </springProfile>
    <springProfile name="iLab">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>
