<h1> Login !! </h1>

<div class="container">
  <div *ngIf='invalidLogin' class="alert alert-warning">{{ errorMessage }}</div>

  <div>
    <div> User Name : <input [(ngModel)]="userName" name="username" type="text"></div>
    <div>Password : <input [(ngModel)]="passWord" name="password" type="password"></div>

    <!-- Interpolation User Name : <input type="text" name="username" value="{{userName}}"> -->
    <!-- Event Binding -->
    <!-- <div> <button (click)=handleLogin() class="btn btn-success"> Login </button></div> -->
    <div>
      <button (click)=handleBasicAuthLogin() class="btn btn-success"> Login</button>
    </div>
  </div>
</div>
