name: mongodb-redis-integration CI
on:
  push:
    paths:
      - "poc-mongodb-redis-cache/mongodb-redis-integration/**"
    branches:
      - main
  pull_request:
    paths:
      - "poc-mongodb-redis-cache/mongodb-redis-integration/**"
    types:
      - opened
      - synchronize
      - reopened


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21']
    defaults:
      run:
        working-directory: "poc-mongodb-redis-cache/mongodb-redis-integration"
    name: Build on Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.2.1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven and analyze
        run: ./mvnw -B clean verify
      - name: Codecov
        uses: codecov/codecov-action@v4.5.0


