name: poc-spring-boot-webmvc CI
on:
  push:
    paths:
      - "poc-rest-api/spring-boot-rest-webmvc/**"
    branches:
      - main
  pull_request:
    paths:
      - "poc-rest-api/spring-boot-rest-webmvc/**"
    types:
      - opened
      - synchronize
      - reopened


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]
    defaults:
      run:
        working-directory: "poc-rest-api/spring-boot-rest-webmvc"
    name: Build on Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw -B clean verify --file pom.xml


