name: poc-reactive-learning CI
on:
  push:
    paths:
      - "poc-reactive-learning/**"
    branches:
      - main
  pull_request:
    paths:
      - "poc-reactive-learning/**"
    types:
      - opened
      - synchronize
      - reopened


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]
    defaults:
      run:
        working-directory: "poc-reactive-learning"
    name: Build on Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven and analyze
        run: ./mvnw -B clean verify --file pom.xml 
      - name: Codecov
        uses: codecov/codecov-action@v5.5.1


